//Variables

// colors
$lighter-blue: #dff2ff;
$light-blue: #bfe3fc;
$medium-blue:#9ad5ff; 
$dark-blue: #63a3d1;
$verydark-blue:#0472c0 ;
$beige: rgb(255, 253, 246);
$gradient: linear-gradient(to bottom, $light-blue, $medium-blue);

// sizes

// others
